SUPABASE_URL=https://xxxxxxxxxxxxxxxxx.supabase.co
SUPABASE_ANON_KEY=eyxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
GOOGLE_WEB_CLIENT_ID=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx.apps.googleusercontent.com
PRODUCTION_BASE_URL=https://[username]-[space-name].hf.space